footer.footer
    .container
        .row
            .col-3.col-sm-12
                a.footer__logo(href="/")
                p.footer__info Ipsa, quae ab illo inventore veritatis. Sequi nesciunt, neque porro quisquam est, omnis iste. Et quas molestias excepturi sint. Natus error sit voluptatem accusantium doloremque laudantium. Nisi ut labore.
                p.footer__info.footer__info_copyright © 2019 Все права защищены
            .col-3.col-sm-12.mt-sm-40
                p.footer__label Продукция
                nav.navbar
                    .navbar__item
                        a.navbar__link(href="#") Печи-камины
                    .navbar__item
                        a.navbar__link(href="#") Печи для бани
                    .navbar__item
                        a.navbar__link(href="#") Отопительно-варочные печи 
                    .navbar__item
                        a.navbar__link(href="#") Каминные топки
                    .navbar__item
                        a.navbar__link(href="#") Каминные облицовки
                    .navbar__item
                        a.navbar__link(href="#") Электронагревательные приборы
                    .navbar__item
                        a.navbar__link(href="#") Котлы и оборудование
                    .navbar__item
                        a.navbar__link(href="#") Чугунное литье
                    .navbar__item
                        a.navbar__link(href="#") Изоляция и огнезащита
                    .navbar__item
                        a.navbar__link(href="#") Дымоходы и комплектующие
                    .navbar__item
                        a.navbar__link(href="#") Окна и комплектующие
                    .navbar__item
                        a.navbar__link(href="#") Двери и комплектующие
                    .navbar__item
                        a.navbar__link(href="#") Топливо
                    .navbar__item.navbar__item--last
                        a.navbar__link(href="#") Прочее
            .col-3.col-sm-12.mt-sm-40
                p.footer__label Компания
                nav.navbar
                    .navbar__item
                        a.navbar__link(href="#") О компании
                    .navbar__item
                        a.navbar__link(href="#") Доставка и самовывоз
                    .navbar__item
                        a.navbar__link(href="#") Оплата заказа
                    .navbar__item
                        a.navbar__link(href="#") Применяемые технологии 
                    .navbar__item
                        a.navbar__link(href="#") Производство продукции
                    .navbar__item
                        a.navbar__link(href="#") Контактная информация
                    .navbar__item.navbar__item--last
                        a.navbar__link(href="#") FAQ
            .col-3.col-sm-12.mt-sm-40
                p.footer__label Связаться с нами
                form.form(action="")
                    input.form__input.form__input_fullwidth.phone(placeholder="Телефон" type="tel")
                    a.btn.btn_cta.btn_fullwidth(href="#") Заказать звонок
                    .form__agree.checkbox
                        input.checkbox__input#agree(type="checkbox" name="agree" checked="checked" required="required")
                        label.checkbox__label(for="agree") согласен с 
                            a.checkbox__link(href="/policy.pdf" target="_blank") обработкой своих персональных данных