header.header
    .bg-white
        .header__line.container
            .header__item.d-md-none Санкт-Петербург и ЛО
            .header__item.d-md-none с 10.00 до 19.00 (ПН-ПТ)
            .header__item.header__item_contact
                a.header__phone(href="tel:8 800 000 00 00") 8 800 000 00 00
                a.header__label(href="") заказать звонок
    .header__line.header__line_main.container
        a.header__link.header__link_menu(href="#") Меню
        a.header__logo(href="/" )
        nav.header__navbar.navbar.navbar_header
            a.navbar__link.navbar_header__link.navbar_header__link_catalog(href="#") Каталог
            a.navbar__link.navbar_header__link(href="#") Услуги
            a.navbar__link.navbar_header__link(href="#") О компании
            a.navbar__link.navbar_header__link(href="#") Контакты
        form.form.form_search.header__search(action="")
            input.form__input.form__input_search(type="text" placeholder="Поиск")
            button.btn.btn_search(type="submit")
        a.header__link.header__link_pay(href="#") Оплата
        a.header__link.header__link_delivery(href="#") Доставка
        a.header__link.header__link_cart(href="/cart.html") Корзина
    .nav-menu
        span.nav-menu__close
        a.nav-menu__logo(href="/" )
        nav.navbar
            .navbar__item
                a.nav-menu__link.nav-menu__link_parent(href="#") Каталог товаров
            .nav-menu__inside
                a.nav-menu__link(href="#") Печи-камины
                a.nav-menu__link(href="#") Печи-камины
                a.nav-menu__link(href="#") Печи-камины
                a.nav-menu__link(href="#") Печи-камины
                a.nav-menu__link(href="#") Печи-камины
                a.nav-menu__link(href="#") Печи-камины
                a.nav-menu__link(href="#") Печи-камины
                a.nav-menu__link(href="#") Печи-камины
                a.nav-menu__link(href="#") Печи-камины
                a.nav-menu__link(href="#") Печи-камины
                a.nav-menu__link(href="#") Печи-камины
                a.nav-menu__link(href="#") Печи-камины
                a.nav-menu__link(href="#") Печи-камины
                a.nav-menu__link(href="#") Печи-камины
                a.nav-menu__link(href="#") Печи-камины
                a.nav-menu__link(href="#") Печи-камины
                a.nav-menu__link(href="#") Печи-камины
                a.nav-menu__link(href="#") Печи-камины
                a.nav-menu__link(href="#") Печи-камины
                a.nav-menu__link(href="#") Печи-камины
                a.nav-menu__link(href="#") Печи-камины
            .navbar__item
                a.nav-menu__link.nav-menu__link_parent(href="#") Услуги
            .nav-menu__inside
                a.nav-menu__link(href="#") Монтаж продукции
                a.nav-menu__link(href="#") Замерыдля печи
                a.nav-menu__link(href="#") Доставка 
                a.nav-menu__link(href="#") Гарантийное обслуживание
            .navbar__item
                a.nav-menu__link.nav-menu__link_parent(href="#") О компании
            .nav-menu__inside
                a.nav-menu__link(href="#") Доставка и самовывоз
                a.nav-menu__link(href="#") Оплата
                a.nav-menu__link(href="#") FAQ
            .navbar__item
                a.nav-menu__link.nav-menu__link_parent(href="#") Контакты
    .nav-overlay