header.header
    .container
        .row.align-items-center
            .col-2
                a.header__logo(href="/" )
            .col-10
                .header__line
                    form.form(action="")
                        input.form__input.form__input_search(type="text" placeholder="Поиск по сайту")
                    .header__info
                        p.text-small.mb-0 Санкт-Петербург и ЛО
                        p.text-small.text-bold.mb-0 с 10.00 до 19.00 (ПН-ПТ)
                        p.text-small.mb-0
                            a.link-inverse(href="") заказать звонок
                    a.header__cart(href="/cart.html") В корзине нет товаров
    .header__nav
        .container
            .header__line
                nav.navbar
                    a.navbar__link.navbar__link_catalog(href="#") Каталог товаров
                    .sep
                    a.navbar__link(href="#") Услуги
                    .sep
                    a.navbar__link(href="#") Производство
                    .sep
                    a.navbar__link(href="#") О компании
                    .sep
                    a.navbar__link(href="#") Контакты
                    .sep
                    a.navbar__link(href="#") Расчет дымохода
                a.header__phone(href="tel:8 800 000 00 00") 8 800 000 00 00
        
