.tab-content{
    &_product {
        width: 700px;
        max-width: 100%
    }
    .tab-pane {
        display: none;
        &.fade {
            opacity: 1;
            transition: opacity .15s linear;
        }
        &.fade:not(.show) {
            opacity: 0;
        }
        &.show{
            display: block;
        }
    }

    & > .active{
        display: block;
    }

    &_product{
        width: 100%;
        padding: 30px 40px;
        background: $white;
    }
}