.btn{
    border: none;
    outline: none;
    border-radius: 12px;
    
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;

    text-align: center;

    padding: 12px 20px;

    &:hover{
        text-decoration: none;
        outline: none;
    }
    &:focus{
        outline: none;
    }

    &_fullwidth{
        width: 100%;
    }

    &_cta{
        background: $orange;
        color: $white;
        &:hover{
            color: $white;
            background: darken($color: $orange, $amount: 3);
        }
    }
    &_buy{
        background: $yellow url(../img/cart.svg) no-repeat 11px 8px/24px;
        min-width: 44px;
        height: 40px;
        line-height: 16px;

        &:hover{
            background-color: lighten($color: $yellow, $amount: 10);
            color: $black;
        }

        &.btn_with-text{
            background-position: 18px 12px;
            background-size: 18px;
            padding: 14px 24px 14px 46px;
            height: auto;
        }
        &.btn_no-availible{
            background-color: $border-color;
            &:hover{
                background-color: darken($color: $border-color, $amount: 8);
            }
        }

    }
    &_default{
        background: $border-color;
        color: $brown;
        &:hover{
            color: $brown;
            background: darken($color: $border-color, $amount: 3);
        }
    }

    &_search{
        background: url("../img/search-orange.svg") no-repeat center / 18px;
        border: none;
        outline: none;
        margin: 0!important;
        padding: 0;
        width: 46px;
        height: 46px;

        position: absolute;
        top: 0;
        right: 0;

    }

    &_small{
        font-size: 12px;
        padding: 8px 12px;
        border-radius: 6px;
    }

    &.btn-more{
        width: auto;
        margin: 0;
        display: inline-block;
    }
}

@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .btn{
        font-size: 12px;
        letter-spacing: 0;
    }
}