.footer{
    margin-top: 40px;
    
    padding: 60px 0;

    background: $brown;
    color: $white;
    .footer__logo{
        width: 100%;
        height: 90px;
        margin-bottom: 20px;

        background: url("../img/logo-inverse-png.png") no-repeat left center / contain;
    }
    .footer__info{
        font-size: 12px;
        line-height: 20px;
        &_copyright{
            color: $light-brown;
        }
    }
    .footer__label{
        text-transform: uppercase;
        font-weight: bold;
    }
}