.form{
    margin: 0;
    padding: 0;

    .form__input{
        font-size: 14px;

        outline: none;
        border: none;
        border-radius: 12px;

        padding: 12px 20px;

        &_fullwidth{
            width: 100%;
        }
        &_search{
            border: 6px solid #dcd8d3;
        }
    }

    * + .btn{
        margin-top: 12px;
    }
    
    * + .checkbox{
        margin-top: 12px;
    }
}

.checkbox{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    @extend .text-small;

    &__input{
        display: none;

        &:checked + .checkbox__label:after {
            content: '';
            display: block;
            background-color: $orange;

            width: 8px;
            height: 8px;
            border-radius: 4px;

            position: absolute;
            left: 6px;
            top: calc(50% - 4px);
        }
    }
    &__label{
        position: relative;
        margin: 0;
        padding-left: 28px;
        line-height: 12px;

        cursor: pointer;

        &:before{
            content:'';
            display: block;

            border: 1px solid $light-brown;
            background: $white;

            width: 20px;
            height: 20px;
            border-radius: 6px;

            position: absolute;
            left: 0;
            top: calc(50% - 10px);
        }
    }
    &__link{
        text-decoration: underline;
    }
}

.jGrowl {
    font-family: "Noto Sans"
}

.jGrowl#jGrowl {
    top: 50%;
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    z-index: 99;

    .jGrowl-notification {
        width: 320px;
        padding: 40px 20px;
        border: 1px solid $light-brown;
        border-radius: 0;

        font-size: 14px;
        color: $brown;

        .jGrowl-close {
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 30px;
            line-height: 30px;
            width: 34px;
            text-align: center;
            border-radius: 0 0 0 15px;
            color: #fff;
            outline: 0
        }

        &.af-message-success {
            background-color: #f9fcf7!important;
            .jGrowl-close {
                background: $grey;
            }
        }

        &.af-message-error {
            background-color: #fef8f8!important;
            .jGrowl-close {
                background: #df0a0a;
            }
        }
    }
}
