.form{
    margin: 0;
    padding: 0;

    // For MODx Cart
    &#msOrder{
        .row.no-gutters{
            .col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12{
                padding: 0 20px;
            }
        }
        
    }

    // Elements
    .form__group{
        & + .form__group{
            margin-top: 20px;
        }
    }
    .form__input{
        font-size: 14px;

        outline: none;
        border: 1px solid $border-color;
        border-radius: 6px;

        padding: 12px 20px;

        max-width: 100%;

        &::placeholder{
            opacity: 0.5;
        }
        &:focus::placeholder{
            opacity: 0;
        }


        &_fullwidth{ width: 100%;}
        &_search{
            border: none;
            background-color: $white;
            width: 100%;
        }
    }

    * + .btn{
        margin-top: 12px;
    }
    * + .checkbox{
        margin-top: 12px;
    }

    &_search{
        position: relative;
    }
}


/* MODx Revo Alert*/
.jGrowl {
    font-family: "Noto Sans"
}
.jGrowl#jGrowl {
    top: 50%;
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    z-index: 99;

    .jGrowl-notification {
        width: 320px;
        padding: 40px 20px;
        border: none;
        border-radius: 8px;

        font-size: 14px;
        font-weight: bold;
        color: $white;

        .jGrowl-close {
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 26px;
            line-height: 30px;
            width: 34px;
            text-align: center;
            border-radius: 0 8px 0 0;
            background: $white;
            outline: 0
        }
        &.ms2-message-success,
        &.af-message-success {
            background-color: rgb(51, 182, 121)!important;
            .jGrowl-close {
                color: rgb(51, 182, 121);
            }
        }
        &.ms2-message-error,
        &.af-message-error {
            background-color: $orange!important;
            .jGrowl-close {
                color: $orange;
            }
        }
    }
}
