.header{
    margin-bottom: 20px;

    &__line{
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding-top: 15px;
        padding-bottom: 15px;
    }
    &__navbar{
        padding-top: 15px;
        padding-bottom: 15px;
    }

    // Logo
    &__logo{
        flex: 0 0 150px;
        max-width: 150px;
        height: 60px;
        background: url("../img/logo-png.png") no-repeat left center / contain;
    }

    // Search
    &__search{
        padding: 0 30px;

        flex: 0 0 calc(100% - 300px - 270px);
        max-width: calc(100% - 300px - 270px);
        
        .form__input{
            @extend .text-small;
        }
    }

    // Contact block
    &__contact{
        flex: 0 0 150px;
        max-width: 150px;
    }

    &__phone{
        font-size: 17px;
        line-height: 20px;
        font-weight: bold;
        color: $black;

        &:hover{
            color: $link-hover-color;
            text-decoration: none;
        }
    }
    &__label{
        color: $orange;
        border-bottom: 1px dotted $orange;
        
        font-size: 12px;        
        line-height: 14px;

        margin-top: 4px;

        &:hover, &:focus{
            text-decoration: none;
            color: $grey;
            border-color: $grey;
        }
    }

    // Link With Icon
    &__link{
        @extend .text-small;
        text-align: center;
        padding-top: 24px;

        flex: 0 0 70px;
        width: 70px;
        max-width: 100%;

        margin-left: 20px;
        transition: none;

        &_menu{
            display: none;
        }
        &_pay{
            background: url("../img/card.svg") no-repeat center top / 20px;
        }
        &_delivery{
            background: url("../img/delivery.svg") no-repeat center top / 22px;
        }
        &_cart{
            background: url("../img/cart.svg") no-repeat center top / 22px;
        }

        &:hover, &:focus{
            text-decoration: none;
            filter: invert(0.5) sepia(.9) saturate(15) hue-rotate(-30deg) brightness(1);
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'xl')){
    .header{
        // Search
        &__search{
            flex: 0 0 calc(100% - 300px - 210px);
            max-width: calc(100% - 300px - 210px);
        }
        // Icon Link
        &__link{
            font-size: 12px;
            flex: 0 0 60px;
            width: 60px;
            margin-left: 10px;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .header{
        &__navbar{
            display: none;
        }
        // Logo
        &__logo{
            flex: 0 0 100px;
            max-width: 100px;
        }
        // Search
        &__search{
            padding: 0 20px;
            flex: 0 0 calc(100% - 220px - 195px - 60px);
            max-width: calc(100% - 220px - 195px  - 60px);
        }
        // Contact
        &__contact{
            flex: 0 0 120px;
            max-width: 120px;
        }
        &__phone{
            font-size: 15px;
        }
        // Icon Link
        &__link{
            margin-left: 5px;

            &_menu{
                display: block;

                font-size: 0px;
                background: $white url("../img/menu.svg") no-repeat center / 16px;
                padding: 0;
                margin-left: 0;
                margin-right: 20px;

                flex: 0 0 40px;
                max-width: 40px;

                width: 40px;
                height: 40px;
                border-radius: 20px;

                &:hover, &:focus{
                    text-decoration: none;
                    filter: unset;
                }
            }
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .header{
        &__line{
            flex-wrap: wrap;
        }
        // Logo
        &__logo{
            height: 50px;

            flex: 0 0 calc(100% - 60px - 120px - 195px);
            max-width: calc(100% - 60px - 120px - 195px);
        }
        &__contact{
            padding-left: 10px;
        }
        // Search
        &__search{
            flex: 0 0 100%;
            max-width: 100%;
            order: 1;

            padding: 20px 0 0;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .header{
        // Contact
        &__contact{
            display: none;
        }
        // Logo
        &__logo{
            flex: 0 0 calc(100% - 60px  - 195px);
            max-width: calc(100% - 60px - 195px);   
        }
    }
}

@media all and (max-width: 420px){
    .header{
        // Logo
        &__logo{
            background-image: url('../img/logo-small.png');
        }
    }
}