.header{
    margin-bottom: 40px;
    .header__logo{
        width: 100%;
        height: 110px;
        padding: 20px 0;

        background: url("../img/logo-png.png") no-repeat left center / contain;
    }
    .header__nav{
        padding: 12px 0;
        background: $brown;
    }
    .header__line{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }
    .header__phone{
        font-size: 20px;
        line-height: 1;
        font-weight: bold;
        color: $white;

        padding-left: 26px;
        background: url("../img/phone-white.svg") no-repeat left center / 16px;

        &:hover{
            color: $link-hover-color;
            text-decoration: none;
        }
    }
    .header__info{
        .text-small{
            line-height: 18px;
        }
    }
    .header__cart{
        @extend .text-small;
        line-height: 18px;
        padding-left: 54px;
        background: url("../img/cart-orange.svg") no-repeat left center / 30px;

        width: 132px;
        max-width: 100%;
    }
    .form{
        .form__input_search{
            width: 560px;
            max-width: 100%;
            height: 46px;
        }
    }
}