.navbar{
    .navbar__link{
        &_catalog{
            background: url("../img/menu-white.svg") no-repeat left center / 24px;
        }
    }
    &_header{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        
        font-size: 13px;

        .navbar__link{
            padding: 4px 32px;
            color: $white;
            &:hover{
                color: $link-hover-color;
                text-decoration: none;
            }
        }
        .sep{
            height: 26px;
            width: 1px;
            background: $white;
            opacity: .2;
        }
    }
    &_catalog{
        flex-direction: column;
        max-width: 240px;

        background: $white;

        position: absolute;
        top: 40px;
        left: 0;
        z-index: 11;

        font-size: 13px;

        display: none;

        .navbar__item{
            padding: 14px 20px;
            border-bottom: 1px solid $body-bg;
        }
        .navbar__link{
            &:hover{
                text-decoration: none;
            }
        }
    }
    &_mobile{
        .navbar__item{
            padding: 10px 0;

            .navbar__link{
                width: 100%;
            }

            & + .navbar__item{
                border-top: 1px solid $border-color;
            }

            & > .navbar__link{
                font-weight: bold;
                text-transform: uppercase;
            }

            &_has-child{
                & > .navbar__link{
                    padding-right: 30px;
                    background: url(../img/chevron-right.svg) no-repeat right center/20px;
                }
            }
        }
    }
    .navbar__inside{
        display: none;

        .navbar__link{
            display: block;
            padding: 10px 0 0 20px;
            color: $grey;
        }
    }
}
.catalog-nav-show{
    .navbar_catalog{
        display: block;
    }
}
.footer{
    .navbar{
        .navbar__item{
            margin-bottom: 12px;
            &--last{
                margin-bottom: 0px;
            }
        }
        .navbar__link{
            @extend .text-small;
            line-height: 16px;
            color: $light-brown;
            &:hover{
                color: $link-hover-color;
            }
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'xl')){
    .navbar{
        &_catalog{
            top: 52px;
        }
        &_header{
            .navbar__link {
                padding: 4px 22px;
                &_catalog{
                    padding-left: 32px;
                }
            }
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .navbar{
        &_header{
            .navbar__link {
                padding: 4px 12px;
                &_catalog{
                    padding-left: 0;
                    background: none;
                }
            }
        }
    }
}
