.pagination{
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    // margin-left: -6px;
    // margin-right: -6px;

    .pagination__item{
        font-size: 13px;
        font-weight: bold;
        padding: 6px;
    }
    .pagination__link{
        display: inline-block;
        border-radius: 4px;
        padding: 4px 8px;
        line-height: 1;
        &:hover{
            text-decoration: none;
        }
    }
    .pagination__active{
        display: inline-block;
        border-radius: 4px;
        padding: 4px 8px;
        line-height: 1;
        background: $white;
        color: $orange;
    }
}