html,body {
    font-size: 16px;
    line-height: 1.5;
    box-sizing: border-box;
    -ms-overflow-style: scrollbar;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
    color: $brown;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 1.25rem;
}
* + h1, * + h2, * + h3, * + h4, * + h5, * + h6,
* + .h1, * + .h2, * + .h3, * + .h4, * + .h5, * + .h6{
    margin-top: 2.5rem;
}
.h1,h1{font-size: 2.25rem;}
.h2,h2{font-size: 2rem;}
.h3,h3{font-size: 1.75rem;}
.h4,h4{font-size: 1.5rem;}
.h5,h5{font-size: 1.25rem;}
.h6,h6{font-size: 1rem;}

p {
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 1.25rem;
    line-height: 1.6;
    &.small{
        font-size: .9em;
    }
    &.lead{
        font-size: 1.15em;
    }
    &:last-child{
        margin-bottom: 0;
    }
}
ol, ul{
    padding: 0;
    margin-bottom: 1.25rem;
    padding-left: 1.25rem;
}
a{
    display: inline-block;
    outline: none;
    transition: .3s;
    &:hover, &:focus{
        outline: none;
    }
    &.link-inverse{
        color: $link-hover-color;
        &:hover{
            color: $link-color;
        }
    }
    &.link-phone{
        font-size: 1.5rem;
        color: $link-hover-color;
        &:hover{
            color: $link-color;
        }
    }
}
.p-relative{position: relative;}
.p-sticky{position: sticky; top: 0; left: 0; z-index: 101; background: $white;}

.d-flex{display: flex;}
.d-none{display: none;}

.text-white{color: $white;}
.text-black{color: $black;}
.text-grey{color: $grey;}

.text-uppercase{text-transform: uppercase;}
.text-bold,strong,b{font-weight: 600;}
.text-small,small,.small{font-size: 13px; line-height: 20px;}

.text-right{text-align: right;}
.text-center{text-align: center;}
.text-left{text-align: left;}

.img-fluid{
    display: block;
    height: auto;
    margin: 0 auto;
    max-width: 100%;
}

.img-border{
    border: 1px solid $border-color;
}

.blockquote, blockquote{
    padding: 16px 40px;
    border-left: 12px solid $orange;
    margin-bottom: 1.25rem;
}

.mt-0{margin-top: 0px;}
.mt-40{margin-top: 40px;}
.mt-60{margin-top: 60px;}

.mb-0{margin-bottom: 0px;}
.mb-40{margin-bottom: 40px;}
.mb-60{margin-bottom: 60px;}

.mr-0{margin-right: 0}
.ml-0{margin-left: 0}

.pt-0{padding-top: 0px;}
.pt-40{padding-top: 40px;}
.pt-60{padding-top: 60px;}

.pb-0{padding-bottom: 0px;}
.pb-40{padding-bottom: 40px;}
.pb-60{padding-bottom: 60px;}

.content-area{
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100vh;
    .inside{
        flex: 1 0 auto;
        &_text-page{
            margin-top: 20px;
        }
        &_service{
            & + .footer{
                margin-top: 0;
            }
        }
    }
    .footer{
        flex: 0 0 auto;
    }
}

.breadcrumbs{
    font-size: 13px;
    list-style: none;
    padding: 0;
    margin: 0;

    display: flex;
    flex-wrap: wrap;

    .breadcrumbs__item{
        margin-bottom: 1px;
        padding: 14px 30px;
        background: $white;

        border-right: 1px solid $body-bg;

        color: $grey;
    }
    .breadcrumbs__link{
        padding-right: 24px;
        background: url(../img/chevron-right.svg) no-repeat right center/20px;
    }
}

@media all and (max-width: map-get($grid-breakpoints, 'xl')){}
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .d-lg-none{display: none;}

    .mt-lg-0{margin-top: 0px;}
    .mt-lg-40{margin-top: 40px;}
    .mt-lg-60{margin-top: 60px;}
    .mb-lg-0{margin-bottom: 0px;}
    .mb-lg-40{margin-bottom: 40px;}
    .mb-lg-60{margin-bottom: 60px;}
	
    .mr-lg-0{margin-right: 0}
    .ml-lg-0{margin-left: 0}

    .text-lg-left{text-align: left;}
    .text-lg-center{text-align: center;}
    .text-lg-right{text-align: right;}
}
@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .d-md-none{display: none;}
    
    .mt-md-0{margin-top: 0px;}
    .mt-md-40{margin-top: 40px;}
    .mt-md-60{margin-top: 60px;}
    .mb-md-0{margin-bottom: 0px;}
    .mb-md-40{margin-bottom: 40px;}
    .mb-md-60{margin-bottom: 60px;}
	
    .mr-md-0{margin-right: 0}
    .ml-md-0{margin-left: 0}

    .breadcrumbs{
        margin-bottom: 0;
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .d-sm-none{display: none;}
    
    .h1,h1{font-size: 1.75rem;}
    .h2,h2{font-size: 1.75rem;}
    .h3,h3{font-size: 1.5rem;}
    .h4,h4{font-size: 1.5rem;}
    .h5,h5{font-size: 1.25rem;}
    .h6,h6{font-size: 1rem;}

    .text-sm-left{text-align: left;}
    .text-sm-center{text-align: center;}
    .text-sm-right{text-align: right;}

    .text-sm-small{font-size: 13px;}

    .mt-sm-0{margin-top: 0;}
    .mt-sm-40{margin-top: 40px;}
    .mt-sm-60{margin-top: 60px;}
    .mb-sm-0{margin-bottom: 0px;}
    .mb-sm-40{margin-bottom: 40px;}
    .mb-sm-60{margin-bottom: 60px;}

    .mr-sm-0{margin-right: 0}
    .ml-sm-0{margin-left: 0}
}