.blog-item{
    position: relative;
    padding: 94px 40px 40px;
    
    width: 100%;
    max-width: 100%;

    .blog-item__label{
        position: absolute;
        left: 40px;
        top: 40px;
        
        display: inline-block;

        border-radius: 4px;
        padding: 4px 8px;
        
        font-size: 13px;
        font-weight: bold;
        line-height: 16px;
        text-transform: uppercase;
        
        &_blog{
            color: $white;
            background: $orange;
        }
        &_news{
            color: $brown;
            background: $yellow;
        }
    }
    .blog-item__data{
        @extend .text-small;
        @extend .text-grey;
        margin-bottom: 10px;
    }
    .blog-item__title{
        position: relative;

        font-size: 1.25rem;
        line-height: 1.2;
        &_large{
            font-size: 1.75rem;
        }
    }
    .blog-item__offer{
        position: relative;

        @extend .text-small;
        @extend .text-grey;
    }
    &_image{
        position: relative;
    }
    &_type-1{
        background: $white;
        border: 2px solid $border-color;
        &.blog-item_image{
            padding-right: 180px;

            .blog-item__bg{
                background-size: contain;
                background-position: right bottom;
                background-repeat: no-repeat;
                width: 200px;
                height: 100%;

                position: absolute;
                right: 0;
                bottom: 0;
            }
        }
    }
    &_type-2{
        background: $border-color;
        &.blog-item_image{
            padding-bottom: 180px;
            .blog-item__bg{
                background-size: contain;
                background-position: left bottom;
                background-repeat: no-repeat;
                width: 100%;
                height: 140px;

                position: absolute;
                left: 40px;
                bottom: 0;
            }
        }
    }
    &_type-3{
        padding: 0;
        .blog-item__label{
            position: unset;
            margin-bottom: 30px;
        }
        .blog-item__title{
            font-size: 1rem;
        }
        .sep{
            margin: 30px 0;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .blog-item{
        &_type-1{
            &.blog-item_image {
                padding-right: 120px;
                .blog-item__bg{
                    width: 140px;
                }
            }
        }
    }
}

@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .blog-item{
        &_type-1{
            &.blog-item_image {
                padding-bottom: 180px;
                padding-right: 40px;
                .blog-item__bg{
                    width: 100%;
                    height: 180px;
                    z-index: 1;
                }
            }
        }
    }
}