.card{
    .card__title{
        background: $white;
        margin: 0;
        padding: 30px 40px;
        border-bottom: 1px solid $body-bg;
    }
    .card__content{
        background: $white;
        padding: 30px 40px;
    }
    .card__info{
        background: $white;
        padding: 20px 30px;
        box-shadow: 0px 0px 30px 0px rgba(229, 229, 229, 0.7);

        .btn{
            margin-right: 10px;
        }
        .buy-one-click{
            font-size: 12px;
            display: inline-block;
            color: $grey;
            text-decoration: underline;

            &:hover{
                color: $orange;
            }
        }
    }
    .card__availible{
        padding: 20px 30px;
        background: #eef7e7;
        .availible,
        .no-availible{
            font-size: 1rem;
            font-weight: bold;
        }
    }
    .card__pay-info{
        padding: 20px 30px;
        background: #f7f0e7;
    }
    .card__info-title{
        margin-bottom: 10px;
    }
    .card__rating{
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        margin-bottom: 30px;

        &-icon{
            margin-right: 20px;
            margin-bottom: 10px;
        }
        &-info{
            @extend .text-small;
            margin-bottom: 10px;
        }
    }
    .card__intro{
        margin-bottom: 0px;
    }
    .card__link{
        @extend .text-small;
        text-decoration: underline;
        padding-right: 18px;

        background: url("../img/chevron-right.svg") no-repeat right center / 16px;

        & + *{
            margin-top: 40px;
        }
    }
    * + .card__link{
        margin-top: 10px;
    }

    .card__price{
        margin-bottom: 10px;

        .new-price{
            font-size: 2rem;
            font-weight: bold;

            margin-top: 10px;
        }
    }

    /* Tab Info */
    .nav{
        font-size: 13px;
        font-weight: bold;
        list-style: none;
        text-transform: uppercase;

        padding: 0;
        margin: 0;

        display: flex;
        flex-wrap: wrap;

        .nav__item{
            margin-bottom: 1px;
            padding: 14px 30px;
            background: $white;

            border-right: 1px solid $body-bg;
        }
        .nav__link{
            color: $grey;

            &:hover{
                color: $brown;
            }

            &.active{
                color: $orange;
            }
        }
    }
}

.old-price{
    color: $orange;
    font-size: 13px;
    line-height: 18px;
    text-decoration: line-through;

    margin-right: 10px;
}
.new-price{
    font-size: 1.5rem;
    display: block;
}
.adv-price{
    display: inline-block;
    border:1px solid $orange;
    border-radius: 6px;
    color: $orange;
    padding: 4px 6px;

    // font-size: 13px;
    line-height: 1;
}

@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .card{
        .card__link + * {
            margin-top: 20px;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .new-price{
        font-size: 1.25rem;
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .card{
        .card__title{
            padding: 30px 20px;
        }
        .card__content{
            padding: 30px 20px;
        }
    }
}