.card{
    .card__title{
        background: $white;
        margin: 0;
        padding: 30px 40px;
        border-bottom: 1px solid $body-bg;
    }
    .card__content{
        background: $white;
        padding: 30px 40px;
    }
    
    .card__rating{
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        margin-bottom: 30px;

        &-icon{
            margin-right: 20px;
            margin-bottom: 10px;
        }
        &-info{
            @extend .text-small;
            margin-bottom: 10px;
        }
    }
    .card__intro{
        margin-bottom: 10px;
    }
    .card__link{
        @extend .text-small;
        text-decoration: underline;
        padding-right: 18px;

        background: url("../img/chevron-right.svg") no-repeat right center / 16px;

        & + *{
            margin-top: 40px;
        }
    }
    .list + .card__link{
        margin-top: 10px;
    }
}