.catalog{
    .catalog__title{
        background: $white;
        margin: 0;
        padding: 30px 40px;
        border-bottom: 1px solid $body-bg;
        &.catalog__title_slider{
            padding-right: 120px;
        }
    }
    .catalog__row{
        background: $white;

        &.slider{
            .slick-slide{
                padding: 0;
            }
            .slider-arrow{
                top: -62px;
                bottom: auto;
            }
        }
    }
    .catalog__item{
        position: relative;
        .catalog__item__category{
            font-size: 13px;
            line-height: 1.2;

            color: $grey;

            margin: 20px 0 10px;
        }
        .catalog__item__title{
            line-height: 1.2;
            margin-bottom: 20px;
            display: block;
        }
        // .catalog__item__price{
        //     .old-price{
        //         color: $orange;
        //         font-size: 13px;
        //         line-height: 18px;
        //         text-decoration: line-through;
        //     }
        //     .new-price{
        //         font-size: 1.5rem;
        //         display: block;
        //     }
        // }
        .catalog__item__rating{
            margin-bottom: 20px;
        }

        &_column{
            padding: 30px 40px 80px;
            border-right: 1px solid $body-bg;
            .catalog__item__price{
                position: absolute;
                left: 40px;
                bottom: 30px;
                padding-right: 60px;
                .old-price{
                    display: block;
                    height: 18px;
                }
            }
            .btn.btn_buy{
                position: absolute;
                right: 40px;
                bottom: 30px;
            }
        }
        &_row{
            display: flex;
            align-items: center;
            flex-wrap: nowrap;

            padding: 20px;

            .img-fluid{
                flex: 0 0 160px;
                width: 160px;

                margin: 0;
            }
            .catalog__item__col{
                &_content{
                    padding: 20px 40px;
                }
                &_sidebar{
                    padding: 20px 0 20px 40px;
                    border-left: 1px solid $border-color;

                    .btn.btn_buy{
                        margin: 20px 0;
                    }
                }
            }

            & + .catalog__item_row{
                border-top: 1px solid $border-color;
            }
        }
        &_preview-row{
            display: flex;
            align-items: center;
            flex-wrap: nowrap;
            padding: 30px 40px;

            border-right: 1px solid $body-bg;

            .catalog__item__col-image{
                width: 90px;
                max-width: 100%;
            }
            .catalog__item__col{
                padding-left: 40px;
            }
            .catalog__item__price{
                width: calc( 100% - 60px);
            }
            .btn.btn_buy{
                position: absolute;
                right: 40px;
                bottom: 30px;
            }
        }
    }
    .catalog__category{
        padding: 12px 40px;
        border-bottom: 1px solid $body-bg;

        background: $white;
        
        &-tags{
            font-size: 12px;
            line-height: 1;
    
            padding: 6px 10px;
            text-align: center;
            text-transform: uppercase;
    
            background: $border-color;
            border-radius: 6px;
    
            margin: 6px;
            white-space: nowrap;

            &:hover{
                text-decoration: none;
            }

            &--active{
                color: $white;
                background: $orange;
                font-weight: bold;
            }
        }
        &-modal{
            font-size: 13px;
            line-height: 1.2;
            color: $light-grey;
            text-decoration: underline;

            margin-left: 20px;
            white-space: nowrap;

            &:hover{
                color: $orange;
            }
        }
        &-list{
            display: flex;
            flex-wrap: wrap;
            align-items: center;

            margin-left: -6px;
            margin-right: -6px;
        }
    }

    &_hits{
        position: relative;
        &:before{
            content: '';
            display: block;

            width: 100%;
            height: 220px;
            background: $orange;

            position: absolute;
            top: -40px;
            left: 0;
            z-index: -1;
        }
    }
}

.filters{
    border-right: 1px solid $body-bg;
    .filters-item{
        padding: 0 40px;
        border-bottom: 1px solid $body-bg;
        .filters-item__title{
            position: relative;
            padding: 22px 0;
            &:not(.checkbox-filter){
                padding-left: 30px;
                cursor: pointer;
                &:before{
                    content: '';
                    display: block;
    
                    width: 20px;
                    height: 20px;
                    background: url("../img/arrow-down-circle.svg") no-repeat center / contain;
                    opacity: .6;
    
                    position: absolute;
                    left: 0;
                    top: 50%;
    
                    transform: translateY(-50%);
                    transition: .3s;
                }         
            }
        }
        .filters-item__content{
            font-size: 14px;
            padding: 0 0 22px;

            display: none;
        }
        .filters-item__input{
            margin-top: 20px;
            .form__input{
                margin: 0 0 0 10px;
            }
        }

        &--active{
            .filters-item__title:not(.checkbox-filter):before{
                transform: translateY(-50%) rotate(180deg);
            }
            .filters-item__content{
                // display: block;
            }
        }
    }
    .filters-reset{
        display: block;
        padding: 12px 30px;
        text-align: center;
        color: $light-grey;

        font-size: 13px;

        &:hover{
            background: lighten($color: $body-bg, $amount: 5);
            // color: $link-hover-color;
            text-decoration: none;
        }
    }
}
.btn-mobile{
    &_filters{
        display: none;
    }
}
.availible{
    position: relative;
    @extend .text-small;
    color: #1e9a67;
    padding-left: 20px;
    background: url('../img/availible.svg') no-repeat left center / 16px;
}
.no-availible{
    position: relative;
    @extend .text-small;
    color: $light-grey;
    padding-left: 20px;
    background: url('../img/no-availible.svg') no-repeat left center / 20px;

}

@media all and (max-width: map-get($grid-breakpoints, 'xl')){
    .catalog{
        .catalog__item{
            &_row{
                .catalog__item__col{
                    &_sidebar {
                        padding: 20px 0 20px 20px;
                    }
                }
            }
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .filters{
        .filters-item {
            padding: 0 20px;
        }
    }
    .catalog{
        .catalog__item{
            &_row{
                flex-wrap: wrap;

                .img-fluid{
                    flex: 0 0 30%;
                    max-width: 30%;
                }
                .catalog__item__col{
                    &_content{
                        flex: 0 0 70%;
                        max-width: 70%;
                        
                    }
                    &_sidebar{
                        border: none;
                        padding: 0;

                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        flex-wrap: wrap;

                        width: 100%;
                        max-width: 100%;

                        .catalog__item__price{
                            flex: 0 0 calc(30% + 40px);
                            max-width: calc(30% + 40px);
                        }
                        .btn.btn_buy{
                            flex: 0 0 30%;
                            max-width: 30%;

                            margin: 0;
                        }
                        .availible,
                        .no-availible{
                            flex: 0 0 calc(40% - 60px);
                            max-width: calc(40% - 60px);
                            margin-left: 20px;
                        }
                    }
                }
            }
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .catalog{
        .catalog__title{
            padding: 20px;
        }
        .catalog__row{
            &.slider{
                .slider-arrow{
                    top: -52px;
                }
            }
        }
        .catalog__category {
            padding: 0 20px;
            max-width: 100%;
            .catalog__category{
                &-list{
                    padding: 12px 0;
                    flex-wrap: nowrap;
                    overflow-x: auto;
                }
            }
        }
        .catalog__item{
            &_row{
                .img-fluid{
                    flex: 0 0 35%;
                    max-width: 35%;
                }
                .catalog__item__col{
                    &_content{
                        flex: 0 0 65%;
                        max-width: 65%;
                    }
                    &_sidebar{
                        .catalog__item__price{
                            flex: 0 0 calc(35% + 40px);
                            max-width: calc(35% + 40px);
                        }
                        .btn.btn_buy{
                            flex: 0 0 30%;
                            max-width: 30%;

                            margin: 0;
                        }
                        .availible,
                        .no-availible{
                            flex: 0 0 calc(35% - 60px);
                            max-width: calc(35% - 60px);
                            margin-left: 20px;
                        }
                    }
                }
            }
        }
    }
    .filters{
        display: none;

        border-right: none;
        border-bottom: 1px solid $border-color;
    }
    .btn-mobile{
        &_filters{
            display: block;
            width: 100%;
            text-align: center;
            padding: 12px 20px;
            background: $grey;
            color: $white;
            &:hover, &:focus{
                color: $white;
            }
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .catalog{
        .catalog__row{
            &.slider{
                .slider-arrow{
                    top: -50px;
                }
            }
        }
        .catalog__item{
            &_row{
                .catalog__item__col{
                    &_content{
                        padding: 0;
                        padding-left: 20px;
                        .list{
                            display: none;
                        }
                    }
                    &_sidebar{
                        .catalog__item__price{
                            flex: 0 0 50%;
                            max-width: 50%;
                        }
                        .btn.btn_buy{
                            flex: 0 0 140px;
                            max-width: 50%;
                        }
                        .availible,
                        .no-availible{
                            flex: 0 0 100%;
                            max-width: 100%;

                            margin-top: 10px;
                            margin-left: 0;
                        }
                    }
                }
            }
            
            &_preview-row{
                padding: 30px 20px;
                
                .img-fluid{
                    max-width: 20%;
                }
                .catalog__item__col {
                    padding-left: 20px;
                    max-width: 80%;
                }
            }
        }
    }
}