.slider{
    /* For Slick */
    .slick-dots{
        bottom: 20px;
        z-index: 11;

        li{
            background: $light-brown;
            border-radius: 50%;
            border: 4px solid $border-color;
            &.slick-active{
                background: $brown;
            }
        }
    }
    .slider-arrow{
        width: 34px;
        height: 34px;
        opacity: .4;

        position: absolute;
        bottom: 20px;

        z-index: 21;

        transition: .3s;
        cursor: pointer;


        &:hover{
            opacity: 1;
        }

        &_prev{
            right: 60px;
            background: url("../img/arrow-left.svg") no-repeat center / cover;
        }
        &_next{
            right: 20px;
            background: url("../img/arrow-right.svg") no-repeat center / cover;
        }
    }
    .slick-slide{
        height: auto;
        padding: 0 20px;
        &:hover, &:focus{
            outline: none;
        }
    }
    &_with-content{
        .slider__item{
            position: relative;
            min-height: 440px;
        }
        .slider__content{
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;

            max-width: 50%;
            height: 100%;

            color: $white;
            background: $brown;

            padding: 40px 20px 40px 60px;

            display: flex;
            flex-direction: column;
            justify-content: center;

            &:after{
                content: '';
                display: block;

                position: absolute;
                top: 0;
                right: -90px;
                z-index: -1;
                
                height: 100%;
                width: 90px;

                transform: skew(10deg);
                transform-origin: bottom;

                background: $brown;
            }
        }
        .slider__bg{
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;

            width: 100%;
            height: 100%;

            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }

        .slider__title{
            font-size: 2.5rem;
            line-height: 1.2;
            margin-bottom: 10px;
        }
        .slider__offer{
            margin-bottom: 30px;
        }        
    }
    &_partners{
        padding: 30px 20px;
    }
    &_product{
        border: 1px solid $border-color;
        margin-bottom: 20px;
        &-nav{
            padding: 0 40px;
            .slider__item{
                border: 1px solid $border-color;
                padding: 0;
                margin: 0 10px;
                &.slick-current{
                    border-color: $grey;
                }
            }
            .slider-arrow{
                &_prev{
                    right: auto;
                    left: 0;
                }
                &_next{
                    right: 0;
                }
            }
        }
    }
}

/* Fotorama */
.fullscreen, .fotorama--fullscreen,
.fotorama--fullscreen .fotorama__nav, .fotorama--fullscreen .fotorama__stage{
    background: #f1efec!important;
}
.fotorama{
    .fotorama__fullscreen-icon{
        background: url('../img/fullscreen.svg') no-repeat center/cover;
    }
    .fotorama__arr.fotorama__arr--prev{
        background: url('../img/arrow-left.svg') no-repeat center/cover;
    }
    .fotorama__arr.fotorama__arr--next{
        background: url('../img/arrow-right.svg') no-repeat center/cover;
    }
    .fotorama__thumb-border{
        border: 1px solid #e0dcd6;
        height: 42px;
    }

    &.fotorama--fullscreen .fotorama__fullscreen-icon{
        background: url('../img/fullscreen-close.svg') no-repeat center/cover;
        background-position:center!important;
    }
}

/* UI Slider */
.filters-item{
    .filters-item__slider{
        margin: 0px auto 10px;
        max-width: calc(100% - 20px);
    }
    .ui-slider {
        position: relative;
        text-align: left;
        &-horizontal {
            height: 8px;
            .ui-slider-range {
                top: 0;
                height: 100%;
            }
            .ui-slider-handle {
                top: -6px;
                margin-left: -10px;
            }
        }

        .ui-slider-range {
            position: absolute;
            z-index: 1;
            font-size: .7em;
            display: block;
            border: 0;
            background-position: 0 0;
        }
        .ui-slider-handle {
            position: absolute;
            z-index: 2;
            width: 18px;
            height: 18px;
            border-radius: 8px;
            cursor: default;
            -ms-touch-action: none;
            touch-action: none;
        }
    }
    .ui-widget-content {
        border: 1px solid $border-color;
        background: $white;
        color:$brown;
    }
    .ui-widget.ui-widget-content {
        top: 6px;
        border: 1px solid $border-color;
    }
    .ui-corner-all{
        border-top-right-radius: 6px;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
    }
    .ui-widget-header {
        border: 1px solid $border-color;
        background: $light-grey;
        font-weight: bold;
    }
    .ui-state-default, .ui-widget-content .ui-state-default, 
    .ui-widget-header .ui-state-default, 
    .ui-button, 
    .ui-button.ui-state-disabled:hover, 
    .ui-button.ui-state-disabled:active {
        border: 4px solid $border-color;
        background: $white;
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'xl')){
    .slider{
        &_with-content{
            .slider__title{
                font-size: 2rem;
                font-weight: bold;
            }
            .slider__content{
                max-width: 60%;
            }
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .slider{
        &_with-content{
            .slider__title{
                font-size: 1.75rem;
                font-weight: bold;
            }
            .slider__content{
                background: rgba(45, 45, 45, 0.7);

                text-align: center;

                padding: 40px 40px 60px;
                height: auto;
                width: 100%!important;
                max-width: 100%;

                top: auto;
                bottom: 0;
                
                &:after{
                    display: none;
                }
            }
            .slider-arrow{
                bottom: 14px;
            }
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .slider{
        &_with-content{
            .slider__title{
                font-size: 1.5rem;
                font-weight: bold;
            }
        }
    }
}