#mse2_sort .sort,
.sort{
    line-height: 16px;
    padding: 4px 8px;

    color: $grey;

    cursor: pointer;
    text-decoration: none;

    &.active{
        color: $black;
        cursor: pointer;

        .sort__status{
            background-color: $label-light;
            padding: 2px 8px 3px;
            border-radius: 12px;
        }
    }

    &_price{
        &[data-dir=asc]{
            .sort__status{
                background-color: #bbe4d3;
                &:after{
                    content: 'по возрастанию'
                }
            }
        }
        &[data-dir=desc]{
            .sort__status{
                &:after{
                    content: 'по убыванию'
                }
            }
        }
    }
    &_availible{
        &[data-dir=asc]{
            .sort__status{
                &:after{
                    content: 'нет'
                }
            }
        }
        &[data-dir=desc]{
            .sort__status{
                background-color: #bbe4d3;
                &:after{
                    content: 'есть'
                }
            }
        }
    }
    &_pagetitle{
        &[data-dir=asc]{
            .sort__status{
                background-color: #bbe4d3;
                &:after{
                    content: 'А-Я'
                }
            }
        }
        &[data-dir=desc]{
            .sort__status{
                &:after{
                    content: 'Я-А'
                }
            }
        }
    }

    &__status{
        font-weight: 400;
        transition: .2s;
    }
}

.sort-container{
    font-size: 12px;

    padding: 10px 20px;
    border-bottom: 1px solid #e0dcd6;
}