html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Basic Page

        link(href='./css/style.css', rel='stylesheet')

    body
        script(src="http://code.jquery.com/jquery-3.3.1.min.js")
        .content-area
            include chunks/header
            main.inside
                section
                    .container
                        .content.content_contact
                            .row.justify-content-between
                                .col-4.col-md-12.col-xl-5
                                    h1.h3.text-bold Контакты
                                    p Свяжитесь с нашими специалистами и они ответят на все возникшие вопросы
                                    p.mb-0
                                        a.link-phone(href="tel:8 800 213 42 14") 8 800 213 42 14
                                    p.text-small.text-grey Мы принимаем звонки круглосуточно и без выходных. По России звонок бесплатный.
                                    p.text-bold.mb-0 Розничный отдел:
                                    p
                                        a.link-inverse(href="mailto:sales@ultrapechi.ru") sales@ultrapechi.ru
                                    p.text-bold.mb-0 Корпоративный отдел::
                                    p
                                        a.link-inverse(href="mailto:corp@ultrapechi.ru") corp@ultrapechi.ru
                                    p.text-bold.mb-0 Головной офис:
                                    p Санкт-Петербург, ул.&nbsp;Правды, д.&nbsp;24, стр.&nbsp;4, эт.&nbsp;8, пом.&nbsp;I, ком.&nbsp;32
                                .col-7.col-md-12.mt-md-40.col-xl-7
                                    <iframe src="https://yandex.ru/map-widget/v1/-/CCdQRM2C" width="100%" height="450" frameborder="0" allowfullscreen="true"></iframe>
            include chunks/footer.pug
        script(src="./js/jquery.inputmask.js")
        script(src="./js/app.min.js")