html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Basic Page

        link(href='./css/slick.css', rel='stylesheet')
        link(href='./css/slick-theme.css', rel='stylesheet')
        link(href='./css/style.css', rel='stylesheet')

    body
        script(src="http://code.jquery.com/jquery-3.3.1.min.js")
        .content-area.catalog-nav-show
            include chunks/header
            main.inside.inside_index
                section.content-slider
                    .container
                        .row.justify-content-end
                            .col.content-slider__col
                                .slider.slider_with-content
                                    .slider__item
                                        .slider__content(style="width:360px;")
                                            .slider__title Печи с&nbsp;гарантией до&nbsp;15&nbsp;лет
                                            p.slider__offer от отечественного производителя 
                                            p.mb-0
                                                a.btn.btn_cta(href="#") ПЕРЕЙТИ В КАТАЛОГ
                                        .slider__bg(style="background-image: url('../img/slider.jpg');")
                                    .slider__item
                                        .slider__content
                                            .slider__title Двери и&nbsp;комплектующие
                                            p.slider__offer с&nbsp;доставкой до двери квартиры 
                                            p.mb-0
                                                a.btn.btn_cta(href="#") ПЕРЕЙТИ В КАТАЛОГ
                                        .slider__bg(style="background-image: url('../img/slider.jpg');")
                section.catalog.mt-40
                    .container
                        p.h4.catalog__title Товары
                            span.text-bold со скидкой
                            |  до 25%
                        .row.no-gutters.catalog__row
                            .col-4
                                .catalog__item.catalog__item_column
                            .col-4
                                .catalog__item.catalog__item_column
                            .col-4
                                .catalog__item.catalog__item_column
                            .col-4
                                .catalog__item.catalog__item_column
            include chunks/footer.pug
        script(src="./js/jquery.inputmask.js")
        script(src="./js/slick.min.js")
        script(src="./js/app.min.js")