html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Text Page

        link(href='./css/style.css', rel='stylesheet')

    body
        script(src="http://code.jquery.com/jquery-3.3.1.min.js")
        .content-area.catalog-nav-hidden
            include chunks/header
            main.inside.inside_text-page
                section
                    .container
                        ul.breadcrumbs
                            li.breadcrumbs__item
                                a.breadcrumbs__link(href="#") Главная
                            li.breadcrumbs__item
                                a.breadcrumbs__link(href="#") Новости
                            li.breadcrumbs__item.breadcrumbs__item--active Заголовок страницы
                        .content
                            h1 Заголовок H1
                            p Выбор типа дымохода, в первую очередь, зависит от топлива отопительного агрегата. Если вы хотите топить печь дровами или углем, то температура газа будет составлять порядка четырехсот градусов. Ее смогут выдержать только сэндвич-модули. Для газовых котлов, печей, работающих на жидком топливе или пеллетах подойдут и стальные трубы.
                            p Все комплектующие дымохода, за исключением диаметров 115 и 150 миллиметров, имеют индивидуально-определенные свойства, и могут быть использованы исключительно приобретающим их потребителем. Данные позиции обмену и возврату не подлежат.
                            h2 Заголовок H2
                            h3 Заголовок H3
                            h4 Заголовок H4
                            h5 Заголовок H5
                            h6.text-bold Заголовок H6
                            p Выбор типа дымохода, в первую очередь, зависит от топлива отопительного агрегата. Если вы хотите топить печь дровами или углем, то температура газа будет составлять порядка четырехсот градусов. Ее смогут выдержать только сэндвич-модули. Для газовых котлов, печей, работающих на жидком топливе или пеллетах подойдут и стальные трубы.
                            blockquote Все комплектующие дымохода, за исключением диаметров 115 и 150 миллиметров, имеют индивидуально-определенные свойства, и могут быть использованы исключительно приобретающим их потребителем. Данные позиции обмену и возврату не подлежат.
                            ul
                                li Простой пункт списка
                                li Простой пункт списка
                                li Простой пункт списка
                                li Простой пункт списка
                            p Выбор типа дымохода, в первую очередь, зависит от топлива отопительного агрегата. Если вы хотите топить печь дровами или углем, то температура газа будет составлять порядка четырехсот градусов. Ее смогут выдержать только сэндвич-модули. Для газовых котлов, печей, работающих на жидком топливе или пеллетах подойдут и стальные трубы.
                            p
                                img.img-fluid.img-border(src="../img/demo.png")
            include chunks/footer.pug
        script(src="./js/jquery.inputmask.js")
        script(src="./js/app.min.js")